:root{
    --body-background-color: #140633;
    --div-borders: 3px solid #4F5894;
    --messeges-background-color: #4F5894;
    --messege-name-font-size: 25px;
    --gray: #C4C4C4;
}

body{
    background-color: var(--body-background-color);
    color: white;
    font-family: sans-serif;
    margin: 10px;
}

.elementsInCenter{
    margin: auto;
    max-width: 50%;
}
.messeges{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    
}

nav{
    border: var(--div-borders);
    background-color: var(--body-background-color);
    position: sticky;
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 6px;
}
.navText{
    margin-left: 10px;
    text-transform: capitalize;
}

.navImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--gray);
}


.messegeingSection{
    border: var(--div-borders);
    position: absolute;
    top: 16%;
    transform: translateX(-50%);
    left: 50%;
    width: 48.5%;
    bottom: 55px;
    display: flex;
    flex-direction: column-reverse;
    z-index: -1;
}

.inputSection{
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
    width: 50%;
    max-height: fit-content;
    margin-top: 5px;
}
.inputText{
    background-color: white;
    border: var(--div-borders);
    font-size: 4.5vh;
    outline: none;
    width: 75%;
    margin: 5px;
    border-radius: 5px;
}.sendBtn{
    width: 20%;
    font-size: 1.5em;
    background-color: var(--messeges-background-color);
    border: var(--div-borders);
    border-radius: 5px;
}


.msg{
    background-color: var(--messeges-background-color);
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    line-height: 25px;
}
.name{
    font-size: 20px;
    color: rgb(163, 163, 163);
}
.text{
    width: fit-content;
    margin-left: 20px;
}

@media (max-width: 800px){
    .elementsInCenter{
        max-width: 100%;
    }
    .messegeingSection{
        width: 95.5%;
    }
    .inputSection{
        width: 95.5%;
    }
    .inputText{
        width: 70%;
        font-size: 1.5em;
    }.sendBtn{
        font-size: 1.4em;
    }
}


